@import "_null";

// Основные CSS настройки страницы
body {
	// font-family: "Merriweather", serif;
	// font-family: "Montserrat", sans-serif;
	// font-family: "Open Sans", sans-serif;
	// font-family: "Raleway", sans-serif;
	font-family: "Open Sans", sans-serif;
	background: #fff;
	color: #373a39;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.71;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.main {
	flex: 1 1 auto;
}
.none {
	display: none !important;
}
[class*="__container"] {
	max-width: 1190px;
	margin: 0 auto;
	padding: 0px 10px;
}

// Logo
.logo {
	// .logo__img

	&__img {
	}
}

// Menu
.menu {

	// .menu__burger-btn
	&__burger-btn{
		display: none;
	}

	// .menu__list

	&__list {
		display: flex;
		column-gap: 38px;
		margin-bottom: 5px;
	}

	// .menu__list-item

	&__list-item {
	}

	// .menu__list-link

	&__list-link {
		font-family: "Raleway", sans-serif;
		font-style: normal;
		font-weight: 700;
		font-size: 12px;
		line-height: 1.16;
		letter-spacing: 0.6px;
		text-transform: uppercase;
		color: #373a39;
		padding: 9px 6px;
		border-bottom: 1px solid transparent;
		transition: color 0.3s;
		&:hover {
			border-bottom: 1px solid #fcbb08;
		}
	}
}

// Title
.title {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 60px;
	line-height: 1.25;
	letter-spacing: -1.65px;
	color: #242121;
	padding-bottom: 14px;
	position: relative;
	&::after {
		content: "";
		position: absolute;
		width: 60px;
		height: 4px;
		background-color: #fcbb08;
		bottom: 0;
		left: 0;
	}
}

// Header
.header {
	background: url("../img/header-bg.jpg") center center / cover no-repeat;
	min-height: 100vh;

	// .header__top

	&__top {
		background-color: #fff;
	}

	// .header__top-inner

	&__top-inner {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 29px;
	}

	// .header__content

	&__content {
		font-family: "Montserrat", sans-serif;
		text-transform: uppercase;
	}

	// .header__content-inner

	&__content-inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: calc(100vh - 93px);
	}

	// .header__title

	&__title {
		font-weight: 500;
		font-size: 72px;
		line-height: 1.22;
		color: #fff;
		margin-top: auto;
		margin-bottom: 19px;
		padding-top: 75px;
	}

	// .header__subtitle

	&__subtitle {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.37;
		letter-spacing: 2.74286px;
		color: #fcbb08;
		margin-bottom: auto;
	}

	// .header__icon

	&__icon {
		margin-bottom: 62px;
	}
}

// About
.about {
	padding: 150px 0 160px;
	background-color: #f6f8fa;
	// .about__container

	&__container {
	}

	// .about__inner

	&__inner {
		display: flex;
		justify-content: space-between;
	}

	// .about__title

	&__title {
		font-size: 48px;
		align-self: flex-start;
	}

	// .about__text

	&__text {
		max-width: 770px;
		p {
			&:not(:last-child) {
				margin-bottom: 24px;
			}
		}
	}
}

// Expertise
.expertise {
	padding: 140px 0 160px;

	// .expertise__container

	&__container {
	}

	// .expertise__title

	&__title {
		margin-bottom: 90px;
	}

	// .expertise__inner

	&__inner {
		display: flex;
		column-gap: 30px;
		margin-bottom: 110px;
	}

	// .expertise__info

	&__info {
		width: 370px;
		flex: none;
		margin-top: 10px;
	}

	// .expertise__info-item

	&__info-item {
		border-top: 2px solid #1d1d1d;
		padding: 2px 0 28px;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 11px;
		line-height: 1.82;
		letter-spacing: 1px;
		color: #1d1d1d;
		position: relative;
		span {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			margin-right: 7px;
			&::before {
				content: "";
				position: absolute;
				height: 2px;
				background-color: #f0f0f0;
				right: -7px;
				top: -2px;
				width: 100%;
			}
		}
	}

	// .expertise__text

	&__text {
		max-width: 770px;
		p {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}

	// .expertise__items

	&__items {
		display: flex;
		justify-content: space-between;
	}

	// .expertise__item

	&__item {
		width: 375px;
		padding-left: 80px;
		position: relative;
		&::before {
			position: absolute;
			content: "";
			width: 50px;
			height: 50px;
			top: 0;
			left: 0;
		}
	}

	&__item--desing::before {
		background-image: url(../img/desing-icon.svg);
	}

	&__item--dev::before {
		background-image: url(../img/monitor-icon.svg);
	}

	&__item--marketing::before {
		background-image: url(../img/speaker-icon.svg);
	}

	// .expertise__item-title

	&__item-title {
		font-family: "Raleway", sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.43;
		letter-spacing: 4.2875px;
		color: #333333;
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	// .expertise__item-text

	&__item-text {
		color: #777777;
		// width: 285px;
	}
}

// Magic
.magic {
	background: #f6f8fa url("../img/magic-bg.jpg") left 82% / 50% no-repeat;

	// .magic__container

	&__container {
	}

	// .magic__inner

	&__inner {
		padding: 100px 0 214px;
		max-width: 470px;
		margin-left: auto;
	}

	// .magic__title

	&__title {
		margin-bottom: 67px;
	}

	// .magic__text

	&__text {
		p {
			&:not(:last-child) {
				margin-bottom: 25px;
			}
		}
	}
}

// Portfolio
.portfolio {
	padding: 140px 0 165px;

	// .portfolio__container

	&__container {
	}

	// .portfolio__top

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 100px;
	}

	// .portfolio__title

	&__title {
	}

	// .portfolio__filter

	&__filter {
		margin-right: 40px;
	}

	// .portfolio__btn

	&__btn {
		padding: 0 4px 5px;
		background-color: transparent;
		font-weight: 600;
		font-size: 12px;
		line-height: 2;
		letter-spacing: 2px;
		color: #333333;
		text-transform: uppercase;
		cursor: pointer;
		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	.mixitup-control-active {
		border-bottom: 1px solid #fcbb08;
	}

	// .portfolio__content

	&__content {
		column-count: 4;
		// column-gap: 22px;
		margin-bottom: 72px;
	}

	// .portfolio__item

	&__item {
		margin-bottom: 22px;
		position: relative;
		img {
			width: 100%;
		}
		&:hover .portfolio__item-link {
			opacity: 1;
		}
	}

	// .portfolio__item-link

	&__item-link {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		color: #fff;
		background-color: #4c4a4a;
		border: 12px solid rgba(255, 255, 255, 0.147164);
		font-weight: 600;
		font-size: 14px;
		line-height: 1;
		letter-spacing: 1.4px;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: all 0.3s;
	}

	// .portfolio__add

	&__add {
		display: block;
		background-color: #f6f8fa;
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.21;
		letter-spacing: 1.2px;
		color: #242121;
		text-align: center;
		text-transform: uppercase;
		padding: 42px 15px 41px;
	}

	// .portfolio__video

	&__video {
		background: url("../img/video-bg.jpg") center center / cover no-repeat;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 324px;
	}

	// .portfolio__video-link

	&__video-link {
	}

	// .portfolio__numbers

	&__numbers {
		padding: 166px 0 166px;
		display: flex;
		justify-content: space-around;
	}

	// .portfolio__numbers-item

	&__numbers-item {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 60px;
		line-height: 1.21;
		color: #242121;
		text-align: center;
		span {
			display: block;
			font-family: "Open Sans", sans-serif;
			font-weight: 400;
			font-size: 14px;
			line-height: 1.35;
			color: #333333;
			margin-top: 9px;
		}
	}
}


// Blockquote
.blockquote {
	max-width: 650px;
	margin: 0 auto;
	padding: 130px 0 148px;
	font-family: "Merriweather", serif;
	font-style: italic;
	font-size: 18px;
	line-height: 2;
	color: #242121;
	text-align: center;

	// .blockquote__author

	&__author {
		display: block;
		padding-top: 51px;
		font-size: 14px;
		line-height: 2.29;
		color: #9e9e9e;
	}
}

// Slider-blog
.slider-blog {
	background-color: #f8f6fa;
	padding: 115px 0;

	// .slider-blog__container

	&__container {
	}

	// .slider-blog__inner

	&__inner {
	}

	// .slider-blog__item

	&__item {
		padding: 190px 0;
	}

	// .slider-blog__link

	&__link {
	}

	// .slider-blog__title

	&__title {
		font-weight: 700;
		font-size: 36px;
		line-height: 1.44;
		color: #242121;
		max-width: 675px;
		margin-bottom: 10px;
		display: inline-block;
	}

	// .slider-blog__desc

	&__desc {
		max-width: 585px;
	}
}

.slick-prev,
.slick-next {
	background-color: transparent;
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-150%);
}
.slick-prev {
	left: -95px;
}
.slick-next {
	right: -95px;
}
.slick-dots {
	display: flex;
}
.slick-dots li {
	&:not(:last-child) {
		margin-right: 13px;
	}
}
.slick-dots button {
	background-color: #242121;
	font-size: 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	opacity: 0.4;
}
.slick-active button {
	width: 10px;
	height: 10px;
	opacity: 1;
}

// Team
.team {
	padding: 120px 0 132px;

	// .team__container

	&__container {
	}

	// .team__title

	&__title {
		margin-bottom: 102px;
	}

	// .team__items

	&__items {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	// .team__item

	&__item {
	}

	// .team__name

	&__name {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.21;
		color: #333333;
		margin: 35px 0 12px;
	}

	// .team__position

	&__position {
		font-size: 12px;
		line-height: 1.33;
	}
}

// Pricing
.pricing {
	background-color: #f6f8fa;
	padding: 145px 0 160px;

	// .pricing__container

	&__container {
	}

	// .pricing__title

	&__title {
		margin-bottom: 90px;
	}

	// .pricing__items

	&__items {
		display: flex;
		justify-content: space-between;
		text-align: center;
	}

	// .pricing__item

	&__item {
		width: 370px;
		background-color: #fff;
		padding: 24px 25px 53px;
		li {
			font-weight: 300;
			font-size: 16px;
			line-height: 1.37;
			color: #242121;
			&:not(:last-child) {
				margin-bottom: 30px;
			}
		}
		.pricing__item-name {
			font-weight: 700;
			font-size: 16px;
			line-height: 1.57;
			color: #242121;
			text-align: left;
			margin-bottom: 8px;
		}
		.pricing__item-num {
			font-weight: 300;
			font-size: 80px;
			line-height: 1.36;
			color: #242121;
			margin-bottom: 51px;
		}
	}

	// .pricing__item-name

	&__item-name {
	}

	// .pricing__item-num

	&__item-num {
		sup {
			font-weight: 300;
			font-size: 40px;
			line-height: 1.35;
		}
	}

	// .pricing__item-link

	&__item-link {
		font-family: "Montserrat", sans-serif;
		display: block;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.21;
		letter-spacing: 1.2px;
		color: #242121;
		margin-top: 70px;
	}
}

// Clients
.clients {
	padding: 70px 0 95px;

	// .clients__container

	&__container {
	}

	// .clients__list

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// .clients__item

	&__item {
	}

	// .clients__item-img

	&__item-img {
	}
}

// Connection
.connection {
	padding: 145px 0 160px;
	background: url("../img/connection-bg.jpg") right 65% / 40% no-repeat;

	// .connection__container

	&__container {
	}

	// .connection__title

	&__title {
		margin-bottom: 78px;
	}

	// .connection__form

	&__form {
		max-width: 570px;
	}

	// .connection__form-input

	&__form-input {
		display: block;
		width: 100%;
		padding: 16px 5px;
		border-bottom: #373a39 solid 2px;
		margin-bottom: 16px;
		outline: none;
		&::placeholder {
			font-size: 12px;
			line-height: 1.66;
			letter-spacing: 3.70909px;
			color: #b8b8b8;
		}
	}

	// .connection__form-textarea

	&__form-textarea {
		display: block;
		min-width: 100%;
		min-height: 140px;
		border-bottom: #373a39 solid 2px;
		margin-top: 37px;
		outline: none;
		margin-bottom: 40px;
		resize: none;
		&::placeholder {
			font-size: 12px;
			line-height: 1.66;
			letter-spacing: 3.70909px;
			color: #b8b8b8;
			text-transform: uppercase;
		}
	}

	// .connection__form-button

	&__form-button {
		font-family: "Montserrat", sans-serif;
		font-weight: 700;
		font-size: 11px;
		line-height: 1.18;
		letter-spacing: 2px;
		color: #ffffff;
		padding: 17px 70px 15px;
		background: #242121;
	}
}

// Footer
.footer {
	// .footer__top

	&__top {
		background: #333333;
		padding: 110px 10px 60px;
		text-align: center;
	}

	// .footer__logo

	&__logo {
		display: inline-block;
		padding: 0 35px 4px;
		border-bottom: 2px solid #fcbb08;
		margin-bottom: 73px;
	}

	// .footer__social-list

	&__social-list {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 65px;
	}

	// .footer__social-item

	&__social-item {
		&:not(:last-child) {
			margin-right: 30px;
		}
	}

	// .footer__social-link

	&__social-link {
		font-family: "Montserrat", sans-serif;
		font-weight: 300;
		font-size: 12px;
		line-height: 1.25;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: #fff;
	}

	// .footer__contacts

	&__contacts {
		font-weight: 400;
		line-height: 2.28;
		color: #fff;
		margin-bottom: 57px;
		a {
			display: block;
			margin: 10px 0;
		}
	}

	// .footer__phone

	&__phone {
	}

	// .footer__mail

	&__mail {
	}

	// .footer__copy

	&__copy {
		background: #2a2c2b;
		font-weight: 400;
		font-size: 12px;
		line-height: 1.33;
		color: #cccccc;
		text-align: center;
		padding: 43px 10px 41px;
	}
}
.address {
}
.go-top {
	display: inline-block;
}
